.StartWindow{
	position: relative;
	width:100%;
	height: 100%;
}

.StartWindow .imgBg{
	width: 100%;
	height: auto;
}
.StartWindow .btn_start{
	position:absolute;
	top: 284px;
    left: 78px;
    width: 156px;
    height: 82px;
	/*background: #168DDA;*/
}
